<navigation></navigation>
<!-- <div class="container mt-5">
 <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="180"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
          role="img"
          aria-label="Placeholder: Image cap"
        >
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#868e96"></rect>
        </svg>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div> 
</div>-->
<div class="container mt-5">
  <!-- Header Row Start -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 p-2 text-center bg-light">
      <h3>Upload Post</h3>
    </div>
    <div class="col-md-3"></div>
  </div>
  <!-- Header Row Start End -->
  <!-- Form Row -->
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
      <!-- Success Alert -->
      <div
        class="alert alert-info alert-dismissible fade show"
        role="alert"
        *ngIf="showStatus"
      >
        <strong>Signup Successful</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Success Alert End -->
      <!-- Failed Alert -->
      <div
        class="alert alert-danger alert-dismissible fade show"
        role="alert"
        *ngIf="showStatus === false"
      >
        <strong>Signup Failed</strong>
        <button
          type="button"
          class="close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Failed Alert -->

      <form
        [formGroup]="postUploadForm"
        (ngSubmit)="submitData()"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="fname">Post Title</label>
          <input
            type="email"
            class="form-control"
            id="title"
            aria-describedby="titleHelp"
            formControlName="title"
            [ngClass]="controls.title.valid ? 'is-valid' : ''"
          />
          <small
            id="titleHelp"
            class="form-text text-danger"
            *ngIf="
              !controls.title.valid &&
              (controls.title.dirty || controls.title.touched)
            "
            >This field is Required</small
          >
        </div>
        <div class="form-group">
          <label for="lname">Post Description</label>
          <input
            type="text"
            class="form-control"
            id="lname"
            aria-describedby="lnameHelp"
            formControlName="desc"
            [ngClass]="controls.desc.valid ? 'is-valid' : ''"
          />
          <small
            id="passHelp"
            class="form-text text-danger"
            *ngIf="
              !controls.desc.valid &&
              (controls.desc.dirty || controls.desc.touched)
            "
            >This field is Required</small
          >
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select formControlName="category" class="form-control" id="category">
            <option value="Graphic Design">Graphic Design</option>
            <option value="UI/UX">UI/UX</option>
            <option value="Interaction Design">Interaction Design</option>
            <option value="Illustration">Illustration</option>
            <option value="Icon Design">Icon Design</option>
          </select>
          <small
            id="passHelp"
            class="form-text text-danger"
            *ngIf="
              !controls.category.valid &&
              (controls.category.dirty || controls.category.touched)
            "
            >This field is Required</small
          >
        </div>
        <div class="form-group">
          <label for="pass">Tags</label>
          <input
            type="text"
            class="form-control"
            id="pass"
            aria-describedby="passHelp"
            formControlName="tags"
            [ngClass]="controls.tags.valid ? 'is-valid' : ''"
          />
          <small
            id="passHelp"
            class="form-text text-danger"
            *ngIf="
              !controls.tags.valid &&
              (controls.tags.dirty || controls.tags.touched)
            "
            >Password length should be minimum 6 characters.</small
          >
        </div>
        <div class="form-group">
          <label for="pass">Upload Image</label>
          <div
            class="jumbotron p-5"
            appDnd
            (fileDropped)="onFileDropped($event)"
          >
            <label class="display-4 text-black-50">Drop File Here</label>
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary mb-3"
          [disabled]="!postUploadForm.valid"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
            *ngIf="showLoader"
          ></span>
          Upload Post
        </button>
      </form>
    </div>
    <div class="col-md-3"></div>
  </div>
  <!-- Form Row End-->
</div>
