<navigation></navigation>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 bg-light p-3 text-center">
      <h4>User Profile</h4>
      <img
        src="http://localhost:3000/profiles/{{ profileData?.image }}"
        alt="{{ profileData?.fname }} {{ profileData?.lname }}"
        class="rounded-circle"
        width="150px"
      />
      <h5>{{ profileData?.fname }} {{ profileData?.lname }}</h5>
      <p><span class="fas fa-envelope"></span> {{ profileData?.email }}</p>
      <p><i class="fas fa-drafting-compass"></i> {{ profileData?.passion }}</p>
      <button
        class="ml-3 btn btn-primary"
        (click)="followUser(profileData?._id)"
        *ngIf="!followed"
      >
        Follow
      </button>
      <button
        class="ml-3 btn btn-outline-primary"
        *ngIf="followed"
        (click)="unfollowUser(profileData?._id)"
      >
        Unfollow
      </button>
    </div>
    <div class="col-md-8">
      <h4>Posts</h4>
      <div class="row">
        <div
          class="col-md-6 mb-4"
          *ngFor="let x of profileData?.userPosts; let i = index"
        >
          <div class="card shadow-sm">
            <img
              src="http://localhost:3000/uploads/{{ x.image }}"
              class="card-img-top"
              alt="{{ x.title }}"
            />
            <div class="card-body">
              <div class="row">
                <div class="col-md-10">
                  <h5 class="card-title">{{ x.title }}</h5>
                  <p class="card-title">
                    Uploaded at {{ ISOtoRegularDate(x.date) }}
                  </p>
                </div>
                <div class="col-md-2" *ngIf="editOptions">
                  <div class="dropdown float-right">
                    <button
                      class="btn"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <button
                        class="dropdown-item"
                        href="#!"
                        (click)="removePost(x._id)"
                      >
                        Delete Post
                      </button>
                      <button
                        class="dropdown-item"
                        data-toggle="modal"
                        data-target="#editPost"
                        (click)="sendData(x)"
                      >
                        Edit Post
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal for Edit Post -->
<div
  class="modal fade"
  id="editPost"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Edit Post</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="col-form-label">Post Title</label>
          <input type="text" class="form-control" [(ngModel)]="title" />
        </div>
        <div class="form-group">
          <label class="col-form-label">Post Description</label>
          <textarea class="form-control" [(ngModel)]="description"></textarea>
        </div>
        <div class="form-group">
          <label class="col-form-label">Post Category</label>
          <select class="form-control" [(ngModel)]="category">
            <option value="Graphic Design">Graphic Design</option>
            <option value="UI/UX">UI/UX</option>
            <option value="Interaction Design">Interaction Design</option>
            <option value="Illustration">Illustration</option>
            <option value="Icon Design">Icon Design</option>
          </select>
        </div>
        <div class="form-group">
          <label class="col-form-label">Change Profile</label>
          <div class="custom-file">
            <input
              type="file"
              class="custom-file-input"
              id="customFile"
              (change)="getFiles($event)"
            />
            <label class="custom-file-label" for="customFile"
              >Choose file</label
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="editPost()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
